<label style="font-size: 20px">Seleccionar piso: </label>
<select id="floor-select" style="font-size: 17px;" [ngModel]="selectedFloor"
	(ngModelChange)="ngOnChanges($event)">
	<option *ngFor="let floor of floors">{{floor}}</option>
</select>
<ng-template [ngIf]="currentTables.length > 0">
	<div id="table-buttons" style="width: {{maxX}}px; height: {{maxY}}px;">
		<a *ngFor="let table of currentTables;let i=index" [routerLink]="['./', table.id]"
			style="position: absolute; left: {{table.positionX }}px; bottom: {{table.positionY}}px;">
			<button class="btn">Capacidad {{table.capacity}}</button>
		</a>
	</div>
</ng-template>