<div class="title">
	<h2>Seleccionar Mesa a Reservar</h2>
</div>
<div>
	<label>Seleccionar Fecha</label>
	<input type="date" min="{{today}}" [ngModel]="selectedDate"
	(ngModelChange)="ngOnChangesDate($event)">
	<div *ngFor="let hour of hours; let i=index">
		<input #checkbox id="{{ i }}" value="{{ 'horario' + i }}" checked=false type="checkbox" [ngModel]="selectedHour"
		(ngModelChange)="ngOnChangesHour(checkbox)">
		<label>{{hour}}</label><br>
	</div>
</div>
<label style="font-size: 20px">Seleccionar piso: </label>
<select id="floor-select" style="font-size: 17px;" [ngModel]="selectedFloor"
	(ngModelChange)="ngOnChanges($event)">
	<option *ngFor="let floor of floors" (ngModelChange)="ngOnChanges($event)">{{floor}}</option>
</select>
<br>
<label style="font-size: 20px">Ingrese el número de personas: </label>
<input type="number" [(ngModel)]="capacity" (ngModelChange)="ngOnChangesCapacity($event)">
<br>
<label style="font-size: 20px">Ingrese Cedula: </label>
<input type="text" [(ngModel)]="clientDocumentNumber" (ngModelChange)="ngOnChangesClient($event)">
<br>
<label style="font-size: 20px" *ngIf="clientExist == false">Ingrese Nombre: </label>
<input type="text" *ngIf="clientExist == false" [(ngModel)]="clientName">
<br>
<label style="font-size: 20px" *ngIf="clientExist == false">Ingrese Apellido: </label>
<input type="text" *ngIf="clientExist == false" [(ngModel)]="clientLastName">
<br>
<button class="btn" (click)="ngOnSubmit()">Reservar</button>
<ng-template [ngIf]="currentTables.length > 0">
  <div id="table-buttons">
    <a *ngFor="let table of currentTables;let i=index" style="position: absolute; left: {{table.positionX }}px; bottom: {{table.positionY}}px;">
      <button class="{{selectedTable==table.id ? 'btn-selected' : 'btn'}}" id={{table.id}} #table (click)="ngOnButtonChange(table)">Capacidad {{table.capacity}}</button>
    </a>
  </div>
</ng-template>
<p *ngIf="currentTables.length < 1">No hay mesas disponibles</p>